 <div class="user-details">
  <h1> Quien soy? </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Desarrollo de paginas web</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
     <i class="devicon-css3-plain-wordmark colored"></i>
     <i class="devicon-javascript-plain colored"></i>


      <p>Esto es lo que suelo utilizar para desarrolar paginas web</p>
    </div>
    <div class="tech">
      <h2>Manejo de base de datos</h2>
      <i class="devicon-microsoftsqlserver-plain"></i>
      <p>Para las bases de datos en paginas web suelo utilizar phpmyadmin, tambien se utilizar acces para crear pequeñas bases de datos y tengo un poco de conocimiento sobre SQL</p>
    </div>
    <div class="tech">
      <h2>Otras</h2>
      <i class="devicon-illustrator-plain colored"></i>
      <i class="devicon-photoshop-plain colored"></i>
     <i class="devicon-premierepro-plain colored"></i>

      <p>Tambien manejo la paqueteria de Microsoft office, adobe after effects y tambien tengo breve conocimiento de unity </p>
    </div>
</div>
