 <div class="user-details">
  <h1> Quien soy? </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Desarrollo de paginas web</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
     <i class="devicon-css3-plain-wordmark colored"></i>
     <i class="devicon-javascript-plain colored"></i>


      <p>Esto es lo que suelo utilizar para desarrolar paginas web</p>
    </div>
    <div class="tech">
      <h2>Manejo de base de datos</h2>
     <i class="devicon-microsoftsqlserver-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
