<div class="user-details">
  <h1> Proyecto escolar </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Captura.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Sistema de farmacia </h3>
    <ul>
      <li> El sistema deberá perimir llevar el control de las existencias de los medicamentos.</li>
      <li> Deberá de ser capaz de mostrar los productos en existencia.</li>
      <li> El sistema debe de llevar un control del punto de reorden.</li>
      <li> El sistema debe permitir agregar clientes frecuentes a los cuales se les otorgara descuentos y beneficios adicionales.</li>
      <li> Debe el sistema permitir emitir una factura.</li>
      <li> Debe poder emitir reportes de ventas (diario, semanal, etc.)</li>
    </ul>
    
  </div>
</div>

<h1> Hobbies </h1>
<div class="user-projects">
  <div class="images-left">
    <img alt="Img_juegos" src="{{ "/assets/img/5ed0b45ee7f09.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Mis hobbies </h3>
    <ul>
      <li>Videojuegos</li>
      <li>Hacer deporte</li>
      <li>Senderismo</li>
      <li>Aprendizaje online</li>
      <li> <a href="https://github.com/DeakOfficial">Sitio en donde publico mis proyectos escolares</a></li>
      </ul>
      
      <h3>Creación de sitios web:<h3>
        <ul>
        <li> <a href="https://deakofficial.github.io/Miguelmtzmrno.github.io/">Sitio web utilizando JQuery</a></li>
        <li> <a href="https://deakofficial.github.io/practica2.github.io/">Sitio web informativo utilizando JQuery</a></li>
    </ul>
    
  </div>
</div>
