<div class="user-details">
  <h1> Proyecto futuro </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Captura.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Sistema de farmacia </h3>
    <ul>
      <li> El sistema deberá perimir llevar el control de las existencias de los medicamentos.</li>
      <li> Deberá de ser capaz de mostrar los productos en existencia.</li>
      <li> El sistema debe de llevar un control del punto de reorden.</li>
      <li> El sistema debe permitir agregar clientes frecuentes a los cuales se les otorgara descuentos y beneficios adicionales.</li>
      <li> Debe el sistema permitir emitir una factura.</li>
      <li> Debe poder emitir reportes de ventas (diario, semanal, etc.)</li>
    </ul>
    
  </div>
</div>

<h1> Hobbies </h1>
<div class="user-projects">
  <div class="images-left">
    <img alt="Img_juegos" src="{{ "/assets/img/5ed0b45ee7f09.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Mis hobbies </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
